.btnn{
    display: flex;
    gap: 20px;
}
.btn{
    background-color: rgb(136, 135, 135);
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    transition: 500ms;
}
.btnn button{
    background-color: rgb(136, 135, 135);
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    transition: 500ms;
}

.btnn button:hover{
    cursor: pointer;
    background-color: rgb(18, 140, 140);
    color: white;
    border-radius: 15px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(18, 140, 140);
    color: white;
    border-radius: 15px;
}